<% provide(:location, '我的消息') %>
<div class="wrap-left">
    <div class="left-content">
        <div class="left-content-top"></div>
        
        <div class="left-content-cent message-content">
				    <% @messages.each do |message| %>
						  <div class="messages-list">
							    <div class="list-single">
							        <div class="message-list-face"><%= image_tag(User.find(message.senduser).photo_url(:small)) %></div>
											<div class="message-text">
											    <span class="message-text-title"><%= User.find(message.senduser).nickname %>在<%= message.created_at.to_date %>给你发的信息</span><br />
											    <span><%= message.text %></span>
											</div>
									</div>
							</div>
							<div class="line message-line"></div>
						<% end %>
						<%= will_paginate @messages %>
        </div>
            
        <div class="left-content-bottom"></div>
    </div>
</div>

<div class="wrap-right">
    <div class="right-sidebar">
		  <%= render :partial => "shared/sidebar/sidebar_login" %>
    </div>  
</div>
