<div id="home-nav">
    <div id="home-nav-top"></div>
        <div id="home-nav-cont">
				    <%= link_to "首页", home_index_path %>
						<span class="dividr">></span>
						<span>我的消息</span>
        </div>
    <div id="home-nav-bottom"></div>
</div>
<div class="wrap-left">
    <div class="left-content">
        <div class="left-content-top"></div>
        
        <div class="left-content-cent message-content">
				    <% @messages.each do |message| %>
						  <div class="messages-list">
							    <div class="list-single">
							        <div class="message-list-face"><%= image_tag(User.find(message.senduser).photo_url(:small)) %></div>
											<div class="message-text">
											    <span class="message-text-title"><%= User.find(message.senduser).nickname %>在<%= message.created_at.to_date %>给你发的信息</span><br />
											    <span><%= message.text %></span>
											</div>
									</div>
							</div>
							<div class="line message-line"></div>
						<% end %>
						<%= will_paginate @messages %>
        </div>
            
        <div class="left-content-bottom"></div>
    </div>
</div>

<div class="wrap-right">
    <div class="right-sidebar">
        <div class="sidebar-login">
						<% if current_user %>
						    <%= render :partial => "shared/sidebar/user_info", :object => @user %>
					  <% else %>
                <%= render :partial => "shared/sidebar/form_login" %>
					  <% end %>
        </div>
    </div>  
</div>
