<%= form_for(@topic) do |f| %>
    <div class="error-mess-box">
      <% @topic.errors.each do |attr,msg| %>
        <div class="error-list"><%= msg %></div><br />
      <% end %>
    </div>

  <div class="field">
    <%= f.label :title, "标题" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.text_area :text %>
  </div>
  <div class="actions">
		<div id="submit-cont">
        <%= f.submit "确认发布" %>
				<div class="link-h"><%= link_to "返回", home_index_path %></div>
		</div>
  </div>
<% end %>
