<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @topic.user_id %>
</p>

<p>
  <b>Node:</b>
  <%= @topic.node_id %>
</p>

<p>
  <b>Title:</b>
  <%= @topic.title %>
</p>

<p>
  <b>Text:</b>
  <%= @topic.text %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
