<div id="home-nav">
    <div id="home-nav-top"></div>
        <div id="home-nav-cont">
				    <%= link_to "首页", home_index_path %>
        </div>
    <div id="home-nav-bottom"></div>
</div>
<div class="wrap-left">
    <div class="left-content">
        <% if flash[:notice] %>
          <%= render :partial => 'shared/topics/flash' %>
        <% end %>
        <%= render :partial => 'shared/topics/article' %>
				  <% if !@reply.blank? %>
				    <%= render :partial => 'shared/topics/reply' %>
				  <% end %>
				<%= render :partial => 'shared/topics/btn_reply' %>

    </div>
</div>

<div class="wrap-right">
    <div class="right-sidebar">
				<div class="sidebar-login">
								    <% if current_user %>
										  <%= render :partial => "shared/sidebar/user_info", :object => @user %>
									  <% else %>
                      <%= render :partial => "shared/sidebar/form_login" %>
									  <% end %>
        </div>
    </div>  
</div>
