<div class="mess-frame">
    <span>注册</span>
</div>
<div class="form-line"></div>
<%= form_for(@user) do |f| %>
    <div class="error-mess-box">
      <% @user.errors.each do |attr,msg| %>
        <div class="error-list"><%= msg %></div><br />
      <% end %>
    </div>

  <div class="field">
	  <div class="user-label"><%= f.label :username, "用户名：" %></div>
    <%= f.text_field :username, :class => "user-input" %>
  </div>
  <div class="field">
		<div class="user-label"><%= f.label :nickname, "昵称：" %></div>
    <%= f.text_field :nickname, :class => "user-input" %>
  </div>
  <div class="field">
	  <div class="user-label"><%= f.label :password, "密码：" %></div>
    <%= f.password_field :password, :class => "user-input" %>
  </div>
  <div class="field">
	  <div class="user-label"><%= f.label :password_confirmation, "再输入一遍：" %></div>
    <%= f.password_field :password_confirmation, :class => "user-input" %>
  </div>
  <div class="field">
	<div class="user-label"><%= f.label :gender, "性别：" %></div>
	  <div class="user-radio">
    <%= f.radio_button :gender,0 %>
    <%= f.label :男 %>
    <%= f.radio_button :gender,1 %>
    <%= f.label :女 %>
		</div>
  </div>
  <div class="field">
	  <div class="user-label"><%= f.label :qq, "QQ：" %></div>
    <%= f.text_field :qq, :class => "user-input" %>
  </div>
	<div class="field">
	  <div class="user-label"><%= f.label :node_id, "院系：" %></div>
		<%= f.select :node_id, select_array %>
	</div>
  <div class="field">
	  <div class="user-label"><%= f.label :schooldate, "入学时间：" %></div>
    <%= f.select :schooldate, (1997..2012), :class => "user-input" %>
  </div>
  <div class="actions">
    <%= f.submit "注册", :class => "user-submit" %>
  </div>
<% end %>
