<div id="home-nav">
    <div id="home-nav-top"></div>
        <div id="home-nav-cont">
				    <%= link_to "首页", home_index_path %>
						<span class="dividr">></span>
						<span>更改密码</span>
        </div>
    <div id="home-nav-bottom"></div>
</div>
<div class="wrap-left">
    	<div class="left-content">
  	  	<div class="left-content-top"></div>
  	    	<div class="left-content-cent">
					  <span>请输入新密码用于更改密码</span><br />

						<%= form_for @user, :as => :change, :url => users_forget_password_to_change_path(:user_name => params[:user_name]),
						                                    :method => :put do |f| %>
						    <%= f.password_field :password %><br />
						    <%= f.password_field :password_confirmation %>
						    <%= f.submit "确定" %>
						<% end %>
          </div>
    		<div class="left-content-bottom"></div>
  	  </div>
</div>
