<% provide(:location, '忘记密码') %>
<div class="wrap-left">
    	<div class="left-content">
  	  	<div class="left-content-top"></div>
  	    	<div class="left-content-cent">
					  <% if !flash[:user_mail] %>
					    <div class="forget-title">
							    <div class="forget-title">
							        <span>如果你忘记你的密码</span><br />
									    <span>请在下面写上你在注册帐号时填写的QQ号</span><br />
									    <span>我们将会把更改秘密的链接发送到该邮箱中</span><br />
									    <span class="flash"><%= flash[:error] %></span>
                  </div>
							</div>
					    <%= form_for :forget, :url => {:action => "forget_password_create" }, :html => {:class => "forget_form"} do |f| %>
							  <div class="field">
							      <div class="forget-label"><%= f.label :user_name, "帐号：" %></div>
							      <%= f.text_field :user_name, :class => "forget-input" %><br />
								</div>
								<div class="field">
								    <div class="forget-label"><%= f.label :user_qq, "QQ：" %></div>
							      <%= f.text_field :user_qq, :class => "forget-input" %><br />
								</div>
                <%= f.submit "提交", :class => "forget-submit" %>
					    <% end %>
						<% else %>
						  <div class="forget-title">
							    <span>已经成功的发送了一封邮件<%= flash[:user_mail] %>@qq.com</span><br />
									<span>请在半小时内修改你的密码</span><br />
									<span>去QQ邮箱更改密码<%= link_to "登录", "http://mail.qq.com" %></span>
							</div>
						<% end %>
          </div>
    		<div class="left-content-bottom"></div>
  	  </div>
</div>

<div class="wrap-right">
    <div class="right-sidebar">
		  <%= render :partial => "shared/sidebar/sidebar_login" %>
    </div>  
</div>
