<% provide(:location, '更改密码') %>
<div class="wrap-left">
    	<div class="left-content">
  	  	<div class="left-content-top"></div>
  	    	<div class="left-content-cent">
					  <div><span>请输入新密码用于更改密码</span></div>
            <div class="forget-to-change">
						    <%= form_for @user, :as => :change, :url => users_forget_password_to_change_path(:user_name => params[:user_name]),
						                                        :method => :put do |f| %>
										<%= f.label :password, "新密码" %>
						        <%= f.password_field :password %><br />
										<%= f.label :password, "再输入一次" %>
						        <%= f.password_field :password_confirmation %><br />
						        <%= f.submit "确定", :class => "new_change_submit" %>
						    <% end %>
						</div>
          </div>
    		<div class="left-content-bottom"></div>
  	  </div>
</div>
