<div id="home-nav">
    <div id="home-nav-top"></div>
        <div id="home-nav-cont">
				    <%= link_to "首页", home_index_path %>
						<span class="dividr">></span>
						<span>忘记密码</span>
        </div>
    <div id="home-nav-bottom"></div>
</div>
<div class="wrap-left">
    	<div class="left-content">
  	  	<div class="left-content-top"></div>
  	    	<div class="left-content-cent">
					  <% if !flash[:user_mail] %>
					    <div class="forget-title">
							    <span>如果你忘记你的密码</span><br />
									<span>请在下面写上你在注册帐号时填写的QQ号</span><br />
									<span>我们将会把更改秘密的链接发送到该邮箱中</span><br />
									<%= flash[:error] %>
							</div>
					    <%= form_for :forget, :url => {:action => "forget_password_create" } do |f| %>
								<span>帐号</span>
							  <%= f.text_field :user_name %><br />
								<span>QQ</span>
							  <%= f.text_field :user_qq %>
                <%= f.submit "提交" %>
					    <% end %>
						<% else %>
						  <div class="forget-title">
							    <span>已经成功的发送了一封邮件<%= flash[:user_mail] %>@qq.com</span>
							</div>
						<% end %>
          </div>
    		<div class="left-content-bottom"></div>
  	  </div>
</div>
