<div id="home-nav">
    <div id="home-nav-top"></div>
        <div id="home-nav-cont">
				    <%= link_to "首页", home_index_path %>
        </div>
    <div id="home-nav-bottom"></div>
</div>
<div class="wrap-left">
    <div class="left-content">
        <div class="left-content-top"></div>
        
        <div class="left-content-cent">
				    <% @topics.each do |topic| %>
						<% cache "home-topic-#{topic.id}-#{topic.updated_at.to_i}" do %>
            <div class="feed-list">
	              <div class="list-single">
                        <div class="list-face"><%= link_to image_tag(topic.user.photo_url(:thumb)), user_path(topic.user_id) %>
												    <%= link_to "悄悄话", new_message_path(:receive_id => topic.user), :class => "mail-sub" %>
												</div>
                            <div class="list-content">
														    <div class="user-title">
														    	 <div class="user-name"><%= link_to topic.title, topic_path(topic), :target => '_blank' %></div>
														    	 <div class="user-node">来自<%= topic.node.name %>的社区发言</div>
														    </div>
																<div class="topic-text"><%= truncate(topic.text, :length => 600) %></div>
												    </div>
                </div>
					  </div>
						<div class="line"></div>
						<% end %>
						<% end %>
						<%= will_paginate @topics %>
        </div>
            
        <div class="left-content-bottom"></div>
    </div>
</div>

<div class="wrap-right">
    <div class="right-sidebar">
				<div class="sidebar-login">
				    <% if current_user %>
				      <%= render :partial => "shared/sidebar/post" %>
						  <%= render :partial => "shared/sidebar/user_info", :object => @user %>
					  <% else %>
						  <% cache "form_login" do %>
                <%= render :partial => "shared/sidebar/form_login" %>
							<% end %>
					  <% end %>
        </div>
    </div>  
</div>
