<div class="wrap-left">
    <div class="left-content">
        <div class="left-content-top"></div>
        
        <div class="left-content-cent">
				    <% @topic.each do |topic| %>
            <div class="feed-list">
	              <div class="list-single">
                        <div class="list-face"><%= topic.title %></div>
                            <div class="list-content">
												        <%= topic.title %><br />
																<%= topic.text %>
												    </div>
                </div>
					  </div>
						<div class="line"></div>
						<% end %>
        </div>
            
        <div class="left-content-bottom"></div>
    </div>
</div>

<div class="wrap-right">
    <div class="right-sidebar">
            
        <div class="sidebar-login">
           	<div class="login-top"></div>
           	    <div class="login-cent">
								    <% if session[:user_id] %>
										  <%= render :partial => "user_info", :object => @user %>
									  <% else %>
                      <%= render :partial => "form_login" %>
									  <% end %>
                </div>
          	<div class="login-bottom"></div>
        </div>

				<div class="sidebar-node">
					  <div class="node-top"></div>
					      <div class="node-cent">
						        
						    </div>
					  <div class="node-bottom"></div>
				</div>
          
    </div>  
</div>
